.custom__select {
}

.custom__select .css-g1d714-ValueContainer {
  padding: 2px 2px 2px 6px;
}

.custom__select .css-tlfecz-indicatorContainer {
  padding-left: 0;
  padding-right: 0;
}

.custom__select .css-1pahdxg-constrol {
  padding-left: 0;
  padding-right: 0;
}

.custom__select .css-1gtu0rj-indicatorContainer {
  padding-left: 0;
  padding-right: 0;
}
.custom__select .css-xb97g8 {
  padding-left: 0;
  padding-right: 0;
}
