/* eslint-disable */
.services-map-table td,
.services-map-table th {
  /* border: 1px solid #dadada; */
  width: 100px;
  /* padding: 0.6rem; */
  padding-left: 0;
  padding-right: 0 !important;
  font-size: 0.7rem;
}

.services-map-table table {
  table-layout: fixed;
}
.services-map-table td:nth-child(-n + 4),
.services-map-table th:nth-child(-n + 4) {
  position: sticky !important;
  z-index: 1;
  width: 100px;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0 !important;
}

.services-map-table thead tr th {
  position: sticky;
  top: 0;
}
.services-map-table th:nth-child(-n + 4) {
  z-index: 20;
}
