/* eslint-disable */
.devices-table td,
.devices-table th {
  /* border: 1px solid #dadada; */
  width: 50px;
  /* padding: 0.6rem; */
  padding-left: 0;
  padding-right: 0 !important;
  font-size: 0.7rem;
}

.devices-table table {
  table-layout: fixed;
}
.devices-table td:nth-child(-n + 10),
.devices-table th:nth-child(-n + 10) {
  position: sticky !important;
  z-index: 1;
  width: 80px;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0 !important;
}

.devices-table thead tr th {
  position: sticky;
  top: 0;
}
.devices-table th:nth-child(-n + 10) {
  z-index: 20;
}

.orders-table td,
.orders-table th {
  font-size: 0.7rem;
  background-color: red;
}
