// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #9b9a9a;
}

#localsSelect.css-2b097c-container {
  min-width: 147px;
}

// #localsSelect .css-yk16xz-control {
//   border: 0;
//   border-radius: 0;
//   border-bottom: 1px solid #9b9a9a;
// }

.custom__table_partners div div div {
  overflow-x: hidden;
}

.uppercase:first-letter {
  text-transform: uppercase;
}

.full-uppercase {
  text-transform: uppercase;
}

.choose_file {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  border: #ebebeb solid 1px;
  width: 100%;
  padding: 4px 6px 4px 8px;
  font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
  color: #7f7f7f;
  margin-top: 0px;
  background: white;
}
.choose_file input[type="file"] {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
